*.class
.classpath
.project
.settings/*
/.settings
*.swo
*.swp
/target
target/*
bin
tomcat_deployment_descriptor
test.*
etc/sms-config*.xml
etc/logger.properties
/local
sms-config.xml
etc/sms-config.xml
*.iml
*.ipr
*.iws
nb-configuration.xml
nbactions-build-ip-core-test-database.xml
nbactions.xml
nbactions-run-integration-tests.xml
.idea
*.log
tags
pom.xml.versionBackup
*.out
*test.sh
/servicelog.html
/servicelog.html.*
tmp/
